@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    line-height: 1.8em;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    background-color: lightseagreen;
    font-size: 20px;
}
p{
    margin: 100px 0px;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
    color: aqua;
    font-size: 45px;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: aqua;
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}

.lista {
    font-size: 25px;
    align-items: flex-end;
}

img {
    width: 420px;
    padding: 8px;
    padding-left: 12px;
    
}

.titulo {
    font-size: 40px;
    text-align: center;

}

.texto {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aqua;
    text-decoration: overline;
}

body {
    background-color: lightseagreen;
}

ul li {
    margin-top: 40px;
}

.imagem {
    width: 250px;
    display: inline block;
}


footer {
    text-align: center;
    background: aqua url('OIP (2).jpeg') center center fixed;
  }
